.product-card
  %a{ href: app_product_path(product.id) }
    .product-image{ style: "background-image: url('#{product.cover.url}')" }
      - if product.offer
        %span.badge.badge-offer Oferta
      - elsif product.new?
        %span.badge.badge-new Nuevo
  .product-content
    %a{ href: app_category_path(product.category.id) }
      %small= product&.category&.name || ''
    %a{ href: app_product_path(product.id) }
      %h4= product.name
      .product-price
        %span= number_to_currency(product.price)
      .counter
        %ul
          %li
            %span{id: "days_desktop#{product.id}"}
            Dias
          %li
            %span{id: "hours_desktop#{product.id}"}
            Horas
          %li
            %span{id: "minutes_desktop#{product.id}"}
            Minutos
  %a.product-footer{ href: app_product_path(product.id) }
    .btn-more
      Solicitar
      %i.icofont-arrow-right
:javascript
    var expiration = "#{product.expiration_parsed}"
    var id = "#{product.id}"
    var second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    var countDown = new Date(expiration + " 00:00:00").getTime(),
        now = new Date().getTime(),
        distance = countDown - now;

    $('#days_desktop'+id).html(Math.floor(distance / (day)))
    $('#hours_desktop'+id).html(Math.floor((distance % (day)) / (hour)))
    $('#minutes_desktop'+id).html(Math.floor((distance % (hour)) / (minute)))