- questions.each do |question|
  - case question.ask_type
  - when "short_text"
    = render "keppler_form/app/poll/short_text", question: question
  - when "long_text"
    = render "keppler_form/app/poll/long_text", question_type: question.id.to_s, question: question
  - when "yes_or_not"
    = render "keppler_form/app/poll/yes_or_not", question: question
  - when "simple_selection"
    = render "keppler_form/app/poll/simple_selection", question: question
  - when "multiple_selection"
    = render "keppler_form/app/poll/multiple_selection", question: question
