.question
  %h3
    - unless question.sentence.blank?
      %li.question-encuesta= question.sentence
    - unless question.description.blank?
      %p.description-encuesta= question.description
  - question.options.each do |option|
    .radio.radio-primary
      %input{ type: 'radio', name: "question-#{question.id}[radio]", id: "radio_button-#{question.id}_option-#{option.id}", value: option.name }
      %label.opciones{ for: "radio_button-#{question.id}_option-#{option.id}" }= option.name
