-# .question
-#   %h3
-#     - unless question.sentence.blank?
-#       %li.question-encuesta= question.sentence
-#     - unless question.description.blank?
-#       %p.description-encuesta= question.description
-#   .radio.radio-primary
-#     %input{ type: 'radio', name: "yes_or_not-#{question.id}[answer]", id: "yes_or_not-#{question.id}_option-true", value: 'Sí' }
-#     %label.opciones{ for: "yes_or_not-#{question.id}_option-true" } Sí
-#   .radio.radio-primary
-#     %input{ type: 'radio', name: "yes_or_not-#{question.id}[answer]", id: "yes_or_not-#{question.id}_option-false", value: 'No' }
-#     %label.opciones{ for: "yes_or_not-#{question.id}_option-false" } No
.question
  - unless question.sentence.blank?
    %label= question.sentence
  - unless question.description.blank?
    %p.description-encuesta= question.description
  .radio.radio-primary.inputGroup
    %input{ type: 'radio', name: "question-#{question.id}[true-or-false]", id: "question-#{question.id}_option-true", value: 'Sí', required: question.required_attr?  }
    %label.opciones{ for: "question-#{question.id}_option-true" } Sí
  .radio.radio-primary.inputGroup
    %input{ type: 'radio', name: "question-#{question.id}[true-or-false]", id: "question-#{question.id}_option-false", value: 'No', required: question.required_attr?  }
    %label.opciones{ for: "question-#{question.id}_option-false" } No
  .errorSpan