%link{href: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", rel: "stylesheet"}/
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}
= simple_form_for [:admin, :publicity, @ad], remote: true do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_publicity_ads_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.ads').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-md-12
                    .nav-tabs-custom
                      %ul.nav.nav-tabs
                        %li.active
                          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_1"} HOME
                        %li
                          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_2"} Tab 2
                        %li.pull-right
                          %a.text-muted{:href => "#"}
                            %i.fa.fa-gear
                      .tab-content
                        #tab_1.tab-pane.active
                          = f.input :image, label: false
                          = f.input :type_ad, label: false
                          = f.input :location, label: false
                          .home
                            .banner-up
                            .search-input
                            .products
                              .product
                              .product
                              .product
                              .steal-page-1.publicity
                                .file-drop-zone
                                  .file-drop-zone-title Sube un anuncio...
                              .product
                              .product
                              .product
                              .steal-page-2.publicity
                                .file-drop-zone
                                  .file-drop-zone-title Sube un anuncio...
                            .flex
                              .half-banner-1.publicity
                                .file-drop-zone
                                  .file-drop-zone-title Sube un anuncio... 
                              .half-banner-2.publicity
                                .file-drop-zone
                                  .file-drop-zone-title Sube un anuncio...
                            .categories
                              .category
                              .category
                              .category
                              .category
                            .banner.publicity
                              .file-drop-zone
                                .file-drop-zone-title Sube un anuncio...
                        #tab_2.tab-pane
                          The European languages are members of the same family. Their separate existence is a myth.
                          For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                          in their grammar, their pronunciation and their most common words. Everyone realizes why a
                          new common language would be desirable: one could refuse to pay expensive translators. To
                          achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                          words. If several languages coalesce, the grammar of the resulting language is more simple
                          and regular than that of the individual languages.
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'

:scss
  .home{
    width: 100%;
    height: 2000px;
    background: rgba(216, 214, 218, 0.8901960784);
    margin: 10px;
    padding-top: 67px;
  }
  .banner-up{
    width: 60%;
    height: 400px;
    background: #cbcbcc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .search-input{
    position: absolute;
    width: 50%;
    height: 52px;
    background: #ece4e4ed;
    top: 300px;
    right: 30px;
    border-radius: 10px;
  }
  .products, .categories{
    flex-wrap: wrap;
    display: flex;
    padding: 20px 0;
    justify-content: center;
  }
  .product, .steal-page-1, .steal-page-2, .category{
    height: 300px;
    width: 22%;
    background: #cbcbcc;
    margin: 10px;
  }
  .product, .category{
    border-radius: 10px;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .half-banner-1, .half-banner-2{
    width: 45%;
    height: 200px;
    background: #9f9fd0;
    margin: 10px;
  }
  .categories{
    .category:nth-child(1) {
    background: #f5efef !important;}
  }
  .banner{
    height: 200px;
    width: 90%;
    background: #9f9fd0;
    margin: auto;
  }
  .publicity{
    background: white;
    padding: 5px;
    cursor: pointer;
  }
  #ad_image, #ad_location, #ad_type_ad{
    display: none;
  }
  .file-drop-zone{
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

:javascript
  $('.publicity').click(function(){
    $('#ad_image').click();
    if ($(this).hasClass('banner')){
      $('#ad_location').val('home')
      $('#ad_type_ad').val('banner')
    }else{
      if ($(this).hasClass('half-banner-1')){
        $('#ad_location').val('home-1')
        $('#ad_type_ad').val('half-banner')
      }else{
        if ($(this).hasClass('half-banner-2')){
          $('#ad_location').val('home-2')
          $('#ad_type_ad').val('half-banner')
        }else{
          if ($(this).hasClass('steal-page-1')){
            $('#ad_location').val('home-1')
            $('#ad_type_ad').val('steal-page')
          }else{
            if ($(this).hasClass('steal-page-2')){
              $('#ad_location').val('home-2')
              $('#ad_type_ad').val('steal-page')
            }
          }
        }
      }
    }
  })
  $('#ad_image').change(function(){
    $('#new_ad').submit()
  })