%link{href: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", rel: "stylesheet"}/
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}
= simple_form_for [:admin, :publicity, @ad] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_publicity_ads_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.ads').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  %label.control-label.keppler_file.optional= t('activerecord.attributes.type')
                  - unless @ad.errors[:location][0].blank?
                    %p.error *Requerido
                  .flex{ style: 'padding-bottom: 27px'}
                    .banner.active
                      .lines
                        %p BANNER
                    .medium.active
                      .lines
                        %p MEDIA BANNER
                    .steal-page.active
                      .lines
                        %p ROBA PÁGINA
                    = f.input :type_ad, as: :string, as: :hidden
                  .col-xs-12
                    %label.control-label.keppler_file.optional= t('activerecord.attributes.image')
                    %p.error.error-image
                    = f.input :image, as: :keppler_file, label: false # , max_size: 225
                  .col-xs-12
                    .form-group
                      .banner-location.opacity
                        %label= t('activerecord.attributes.location')
                        - unless @ad.errors[:location][0].blank?
                          %p.error *Requerido
                        %select.form-control.select.optional.select2{ name: 'ad[location][]', multiple: true }
                          %option{ value: 'home-1', selected: (f.object&.location&.include?('home-1')) } HOME
                          %option{ value: 'products-1', selected: (f.object&.location&.include?('products-1')) } PRODUCTS
                      .media-banner-location.opacity
                        %label= t('activerecord.attributes.location')
                        - unless @ad.errors[:location][0].blank?
                          %p.error *Requerido
                        %select.form-control.select.optional.select2{ name: 'ad[location][]', multiple: true }
                          %option{ value: 'home-1', selected: (f.object&.location&.include?('home-1')) } HOME(1)
                          %option{ value: 'home-2', selected: (f.object&.location&.include?('home-2')) } HOME(2)
                      .roba-pagina-location.opacity
                        %label= t('activerecord.attributes.location')
                        - unless @ad.errors[:location][0].blank?
                          %p.error *Requerido
                        %select.form-control.select.optional.select2{ name: 'ad[location][]', multiple: true }
                          %option{ value: 'home-1', selected: (f.object&.location&.include?('home-1')) } HOME(1)
                          %option{ value: 'home-2', selected: (f.object&.location&.include?('home-2')) } HOME(2)
                  /   .banner-location.opacity
                  /     %div.location-form
                  /       %input.location#home-banner-1{:name => "location-1", :type => "radio", :value => "home-banner-1"}
                  /       %label{:for => "home-banner"} HOME
                  /     %div.location-form
                  /       %input.location#products-banner-1{:name => "location-2", :type => "radio", :value => "products-banner-1"}
                  /       %label{:for => "products-banner"} PRODUCTS
                  /   .media-banner-location.opacity
                  /     %div.location-form
                  /       %input.location#home-media-banner-1{:name => "location-3", :type => "radio", :value => "home-media-banner-1"}
                  /       %label{:for => "home-media-banner-1"} HOME - Primer media banner
                  /     %div.location-form
                  /       %input.location#home-media-banner-2{:name => "location-4", :type => "radio", :value => "home-media-banner-2"}
                  /       %label{:for => "home-media-banner-2"} HOME - Segundo media banner
                  /   .roba-pagina-location.opacity
                  /     %div.location-form
                  /       %input.location#home-roba-pagina-1{:name => "location-5", :type => "radio", :value => "home-roba-pagina-1"}
                  /       %label{:for => "home-roba-pagina-1"} HOME - Primer roba página
                  /     %div.location-form
                  /       %input.location#home-roba-pagina-2{:name => "location-6", :type => "radio", :value => "home-roba-pagina-2"}
                  /       %label{:for => "home-roba-pagina-2"} HOME - Segundo roba página
                  / = f.input :location, as: :hidden
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'

:scss
  .flex div{
    cursor: pointer;
  }
  .banner{
    width: 386px;
    height: 136px;
    background: rgba(160, 158, 158, 0.5);
    transition: 0.5s;
  }
  .medium{
    width: 264px;
    height: 136px;
    background: rgba(160, 158, 158, 0.5);
  }
  .steal-page{
    width: 123px;
    height: 136px;
    background: rgba(160, 158, 158, 0.5);
  }
  .flex{
    display: flex;
    margin-top: 16px;
  }
  .flex div{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: colums;
  }
  .lines{
    width: 95%;
    border: solid 1px #989191;
    height: 87%;
    margin: 0 !important;
    border-style: dashed;
    position: relative;
  }
  .medium div{
    width: 92% !important;
  }
  .steal-page div{
    width: 86% !important;
  }
  .banner p{
    font-size: 30px;
    transition: 0.5s;
  }
  .medium p{
    font-size: 22px;
  }
  .opacity{
    display: none;
  }
  .error{
    color: red;
    font-size: 13px;
    display: inline;
  }
  .select2{
    width: 100% !important;
  }
  .select2-selection__choice{
    color: #5f5858 !important;
  }
- if @ad.type_ad.eql?('banner')
  %p.hide= @ad.location
  :javascript
    $('.banner').css('background-color', 'rgba(99, 101, 105, 0.4)')
    $('.banner-location').show()
- elsif @ad.type_ad.eql?('media banner')
  :javascript
    $('.medium').css('background-color', 'rgba(99, 101, 105, 0.4)')
    $('.media-banner-location').show()
- elsif @ad.type_ad.eql?('roba página')
  :javascript
    $('.steal-page').css('background-color', 'rgba(99, 101, 105, 0.4)')
    $('.roba-pagina-location').show()
:javascript
  $('.active').click(function(){
    $('.active').css('background-color', 'rgba(160, 158, 158, 0.5)')
    $(this).css('background-color', 'rgba(99, 101, 105, 0.4)')
    $('#ad_type_ad').val(($(this).find('p').text()).toLowerCase())
    if ($(this).find('p').text() == 'BANNER'){
      $('.file-drop-zone-title').text('1920 x 1080px')
      $('.opacity').hide()
      $('.select2').val('')
      $('.banner-location').show()
    }else{
      if ($(this).find('p').text() == 'MEDIA BANNER'){
        $('.file-drop-zone-title').text('1080 x 600px')
        $('.opacity').hide()
        $('.select2').val('')
        $('.media-banner-location').show()
      }else{
        $('.file-drop-zone-title').text('600 x 800px')
        $('.opacity').hide()
        $('.select2').val('')
        $('.roba-pagina-location').show()
      }
    }
  })
  $('.location-form').click(function(){
    $('#ad_location').val($(this).find('input').val())
  })  

  $('.simple_form').validate({
      event: 'blur',
      errorClass: 'error-class',
      validClass: 'valid-class',
       rules: {
         'ad[image]': { required: true},
        },
       messages: {
        },
      errorPlacement: function(error, element) {
        $('.error-image').text('*Requerido')
      }
    });
  $('.select2').select2({
    multiple: true
  });