:javascript
  $(document).ready(function(){
    $('.keppler-custom-field').removeClass('ad_image')
  })
%link{href: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", rel: "stylesheet"}/
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}
= simple_form_for [:admin, :publicity, @ad] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_publicity_ads_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.ads').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body.x
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-md-12
                    = f.input :image, as: :keppler_file
                  .col-md-12
                    = f.input :url, as: :url
                  = f.input :type_ad, label: false
                  = f.input :location, label: false
                  .col-md-12
                    = f.input :active, as: :keppler_boolean
                  .col-md-12
                    %label{:for => "ad[location]", class: 'control-label string required'}= t('activerecord.attributes.location_ad')
                    .nav-tabs-custom
                      %ul.nav.nav-tabs
                        %li.active
                          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_1"} HOME
                        %li
                          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#product"} PRODUCT
                        %li
                          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#category"} CATEGORY
                        %li.pull-right
                          %a.text-muted{:href => "#"}
                            %i.fa.fa-gear
                      .tab-content
                        #tab_1.tab-pane.active
                          .home
                            .banner-up
                            .search-input
                            .products
                              .product
                              .product
                              .product
                              .steal-page-1.publicity{ class: @ad.type_ad.eql?('steal-page') && @ad.location.eql?('home-1') ? 'active' : '' }
                                .file-drop-zone
                                  .file-drop-zone-title
                                    = t('activerecord.attributes.steal-page').upcase
                              .product
                              .product
                              .product
                              .steal-page-2.publicity{ class: @ad.type_ad.eql?('steal-page') && @ad.location.eql?('home-2') ? 'active' : '' }
                                .file-drop-zone
                                  .file-drop-zone-title
                                    = t('activerecord.attributes.steal-page').upcase
                            .flex
                              .half-banner-1.publicity{ class: @ad.type_ad.eql?('half-banner') && @ad.location.eql?('home-1') ? 'active' : '' }
                                .file-drop-zone
                                  .file-drop-zone-title
                                    = t('activerecord.attributes.half-banner').upcase
                              .half-banner-2.publicity{ class: @ad.type_ad.eql?('half-banner') && @ad.location.eql?('home-2') ? 'active' : '' }
                                .file-drop-zone
                                  .file-drop-zone-title
                                    = t('activerecord.attributes.half-banner').upcase
                            .categories
                              .category
                              .category
                              .category
                              .category
                            .banner-1.publicity{ class: @ad.type_ad.eql?('banner') && @ad.location.eql?('home-1') ? 'active' : '' }
                              .file-drop-zone
                                .file-drop-zone-title
                                  = t('activerecord.attributes.banner').upcase
                        #product.tab-pane
                          .product-view
                            .content-product-and-ad
                              .card-product
                              .steal-page-3.publicity
                                .file-drop-zone
                                  .file-drop-zone-title
                                    = t('activerecord.attributes.steal-page').upcase
                            .products
                              .product
                              .product
                              .product
                              .product
                            .banner-2.publicity
                              .file-drop-zone
                                .file-drop-zone-title
                                  = t('activerecord.attributes.banner').upcase
                        #category.tab-pane
                          .category-view
                            .banner-up
                            .search-input
                            .banner-3.publicity
                              .file-drop-zone
                                .file-drop-zone-title
                                  = t('activerecord.attributes.banner').upcase
                            .products
                              .product
                              .product
                              .product
                              .product
                            .banner-4.publicity
                              .file-drop-zone
                                .file-drop-zone-title
                                  = t('activerecord.attributes.banner').upcase
                            .banner-5.publicity
                              .file-drop-zone
                                .file-drop-zone-title
                                  = t('activerecord.attributes.banner').upcase
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'

:scss
  #tab_1{
    height: 2000px;
  }
  .file-drop-zone-title{
    cursor: pointer !important;
  }
  .steal-page-3{
    margin: 0 !important;
  }
  .content-product-and-ad{
    display: flex;
    justify-content: space-evenly;
  }
  .card-product{
    height: 300px;
    width: 60%;
    background: #b7b7bd;
  }
  .product-view, .category-view{
    height: 1000px;
    margin: 10px;
    padding-top: 67px;
  }
  .category-view{
    height: 1300px !important;
  }
  .home{
    margin: 10px;
    padding-top: 67px;
  }
  .banner-up{
    width: 60%;
    height: 400px;
    background: #b7b7bd;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .search-input{
    position: absolute;
    width: 50%;
    height: 52px;
    background: #ece4e4ed;
    top: 300px;
    right: 30px;
    border-radius: 10px;
  }
  .products, .categories{
    flex-wrap: wrap;
    display: flex;
    padding: 20px 0;
    justify-content: center;
  }
  .product, .steal-page-1, .steal-page-2, .category, .steal-page-3{
    height: 300px;
    width: 22%;
    background: #b7b7bd;
    margin: 10px;
  }
  .product, .category{
    border-radius: 10px;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .half-banner-1, .half-banner-2{
    width: 45%;
    height: 200px;
    background: #9f9fd0;
    margin: 10px;
  }
  .categories{
    .category:nth-child(1) {
    background: #f5efef !important;}
  }
  .banner, .banner-4, .banner-2, .banner-3, .banner-5{
    height: 200px;
    width: 90%;
    background: #9f9fd0;
    margin: auto;
  }
  .banner-3, .banner-5{
    margin-top: 20px;
  }
  .publicity{
    background: white;
    padding: 5px;
    cursor: pointer;
  }
  #ad_location, #ad_type_ad{
    display: none;
  }
  .file-drop-zone{
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #f44336 !important;
  }
  .active{
    background: #d5d5da;
  }
  .category-view .banner-up{
    height: 200px !important;
  }
  .category-view .search-input{
    top: 220px !important;
  }
  .banner-1{
    width: 95%;
    margin: auto;
  }
  @media (max-width: 1250px) {
    #tab_1 .products div {
      max-height: 220px;
    }
    .category-view .products div {
      max-height: 220px;
    }
    #tab_1 .categories div {
      max-height: 220px;
    }
    .banner-up{
      height: 300px;
    }
    .search-input{
      top: 270px;
    }
    #tab_1{
      height: 1650px;
    }
    .category-view{
      height: 1250px !important;
    }

  }

:javascript
  $('.publicity').click(function(){
    $('.publicity').removeClass('active')
    $(this).addClass('active')
    if ($(this).hasClass('banner-1')){
      $('#ad_location').val('home-1')
      $('#ad_type_ad').val('banner')
    }else{
      if ($(this).hasClass('half-banner-1')){
        $('#ad_location').val('home-1')
        $('#ad_type_ad').val('half-banner')
      }else{
        if ($(this).hasClass('half-banner-2')){
          $('#ad_location').val('home-2')
          $('#ad_type_ad').val('half-banner')
        }else{
          if ($(this).hasClass('steal-page-1')){
            $('#ad_location').val('home-1')
            $('#ad_type_ad').val('steal-page')
          }else{
            if ($(this).hasClass('steal-page-2')){
              $('#ad_location').val('home-2')
              $('#ad_type_ad').val('steal-page')
            }else{
              if($(this).hasClass('steal-page-3')){
                $('#ad_location').val('product-1')
                $('#ad_type_ad').val('steal-page')
              }else{
                if($(this).hasClass('banner-2')){
                  $('#ad_location').val('product-1')
                  $('#ad_type_ad').val('banner')
                }else{
                  if($(this).hasClass('banner-3')){
                    $('#ad_location').val('category-1')
                    $('#ad_type_ad').val('banner')
                  }else{
                    if($(this).hasClass('banner-4')){
                      $('#ad_location').val('category-2')
                      $('#ad_type_ad').val('banner')
                    }else{
                      if($(this).hasClass('banner-5')){
                        $('#ad_location').val('category-3')
                        $('#ad_type_ad').val('banner')
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  })