= simple_form_for [:admin, :publicity, @ad] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_publicity_ads_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.ads').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  %label.control-label.keppler_file.optional= t('activerecord.attributes.type')
                  .flex{ style: 'padding-bottom: 27px'}
                    .banner.active
                      .lines
                        %p BANNER
                    .medium.active
                      .lines
                        %p MEDIA BANNER
                    .steal-page.active
                      .lines
                        %p ROBA PÁGINA
                    = f.input :type_ad, as: :string, as: :hidden
                  .col-xs-12
                    = f.input :image, as: :keppler_file # , max_size: 225
                  .col-xs-12
                    = f.input :location, as: :radio_buttons, collection: [['0', 'About'], ['1', 'Home']], label_method: :second, value_method: :first, label: t('activerecord.attributes.location')
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
:scss
  .flex div{
    cursor: pointer;
  }
  .banner{
    width: 386px;
    height: 136px;
    background: rgba(160, 158, 158, 0.5);
    transition: 0.5s;
  }
  .medium{
    width: 264px;
    height: 136px;
    background: rgba(160, 158, 158, 0.5);
  }
  .steal-page{
    width: 123px;
    height: 136px;
    background: rgba(160, 158, 158, 0.5);
  }
  .flex{
    display: flex;
    margin-top: 16px;
  }
  .flex div{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: colums;
  }
  .lines{
    width: 95%;
    border: solid 1px #989191;
    height: 87%;
    margin: 0 !important;
    border-style: dashed;
    position: relative;
  }
  .medium div{
    width: 92% !important;
  }
  .steal-page div{
    width: 86% !important;
  }
  .banner p{
    font-size: 30px;
    transition: 0.5s;
  }
  .medium p{
    font-size: 22px;
  }

:javascript
  $('.active').click(function(){
    $('.active').css('background-color', 'rgba(160, 158, 158, 0.5)')
    $(this).css('background-color', 'rgba(99, 101, 105, 0.4)')
    $('#ad_type_ad').val($(this).find('p').text())
  })