= simple_form_for [:admin, :products, @product] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_products_products_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.products').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12
                    .col-xs-6
                      = f.input :name, as: :string
                      = f.input :category_id, collection: @categories, include_blank: false, label: t('activerecord.attributes.category_id')
                      = f.input :address, as: :string, label: t('activerecord.attributes.address')
                      = f.input :expiration, as: :string, input_html: { class: 'datepicker' }, label: t('activerecord.attributes.expiration')
                    .col-xs-6
                      = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } }
                  .col-xs-12
                    = f.input :images, as: :keppler_file, multiple: true # , max_size: 225
                  .col-xs-12
                    .col-xs-6.col-sellers
                      %p.bold= t('activerecord.attributes.seller')
                      .options-sellers.seller1
                        %img{:src => "https://image.flaticon.com/icons/svg/1117/1117882.svg", :alt => "", width: '130px'}/
                        %p Empresa
                      .options-sellers.seller2
                        %img{:src => "https://image.flaticon.com/icons/svg/816/816548.svg", :alt => "", width: '130px'}/
                        %p Tercero
                    .col-xs-6.fields
                      = f.input :seller, as: :string, as: :hidden
                      = f.input :seller_name, as: :string, label: t('activerecord.attributes.seller_name')
                      = f.input :seller_phone, as: :string, label: t('activerecord.attributes.seller_phone')
                      = f.input :seller_email, as: :string, label: t('activerecord.attributes.seller_email')
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
:scss
  .bold{
    font-weight: bold;
    margin-bottom: 21px;
  }
  .seller2{
    margin-left: 42px;
  }
  .col-sellers{
    margin-bottom: 25px;
  }
  .options-sellers{
    padding: 10px;
    cursor: pointer;
    width: 151px;
    display: inline-block;
    text-align: center;
  }
  .options-sellers:hover{
    padding: 8px;
    border: solid 2px #b3aeae;
    border-radius: 5%;
  }
  .options-sellers img{
    margin-bottom: 10px;
  }
  .options-sellers p{
    font-weight: bold;
  }
  .selected {
    padding: 8px;
    border: solid 2px #b3aeae;
    border-radius: 5%;
  }
  .fields{
    margin-top: 20px;
  }
  .error-class{
    font-weight: 600;
    color: red;
    font-size: 12px;
  }

:javascript
  $('.fields').hide()
  $('.seller2').click(function(){
    $('.fields').show()
    $(this).addClass('selected')
    $('.seller1').removeClass('selected')
    $('#product_seller').val('tercero')
  })
  $('.seller1').click(function(){
    $('.fields').hide()
    $(this).addClass('selected')
    $('.seller2').removeClass('selected')
    $('#product_seller').val('2xale')
    $('#product_seller_name').val('')
    $('#product_seller_phone').val('')
    $('#product_seller_email').val('')
  })
  $('#new_product').validate({
    event: 'blur',
    errorClass: 'error-class',
    validClass: 'valid-class',
     rules: {
       'product[seller_name]': { required: true},
       'product[seller_phone]': { required: true},
       'product[seller_email]': { required: true},
      },
     messages: {
       'product[seller_name]': 'Indica el nombre del vendedor',
       'product[seller_phone]': 'Teléfono del vendedor',
       'product[seller_email]': 'Correo del vendedor'
      },
    debug: true,errorElement: 'label',
    submitHandler: function(form){
      form.submit();
    }
  });
