%section.banner-category
  .banner-category-box
    .banner-category-inner
      = image_tag @category&.image&.url || ''
      .banner-category-mask
        - if @q.blank?
          %h1= @category.name
        - elsif @products.blank? && !@q.blank?
          %h1 No se han encontrado resultados para: "#{@q}"
        - else
          %h1 Se muestran resultados de: "#{@q}"
  .search-input
    = simple_form_for @product, url: app_category_path(1), method: :get, class: 'form-inline' do
      .input-group
        %input#search-input.form-control{ type: 'search', placeholder: 'Buscar', name: 'q'}
        .input-group-prepend
          %i.icofont-search.input-group-text
%section.categories
  .container
    = publicity('banner', KepplerPublicity::Ad.publicity('category-1', 'banner'))
    .row
      - @products.first(6).each do |product|
        = render 'keppler_frontend/app/frontend/partials/product_card', product: product
    = publicity('banner', KepplerPublicity::Ad.publicity('category-2', 'banner'))
    - unless @others_products.nil?
      .row
        - @others_products.first(6).each do |product|
          = render 'keppler_frontend/app/frontend/partials/product_card', product: product
    = publicity('banner', KepplerPublicity::Ad.publicity('category-3', 'banner'))
    %nav{"aria-label" => "Page navigation"}
      %ul.pagination
        %center.paginator-module
          = paginate @products
:javascript
  $('.icofont-search').click(function(){
    if ($('#search-input').val().length > 0){
      $('#new_product').submit()
    }
  })
  $('#search-input').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (($(this).val().length > 0) && (keycode == '13')){
      $('#new_product').submit()
    }
  })
- @products.each do |product|
  = render 'keppler_frontend/app/frontend/partials/script_expiration', product: product
- unless @others_products.nil?
  - @others_products.each do |product|
    = render 'keppler_frontend/app/frontend/partials/script_expiration', product: product
