
%section.home
  .home-slider
    - @banners.each do |banner|
      .banner-slider
        .banners-box
          = image_tag banner.image.url, class: 'banner-item'
          .banner-mask
            %h1= banner.title
            %a.btn-more{ href: banner.banner_url, target: '_blank' }
              Ver más
              %i.icofont-arrow-right
        .search-cta
          %h1= banner.search_text
  .search-input
    = simple_form_for @product, url: app_category_path(1), method: :get, class: 'form-inline' do
      .input-group
        %input#search-input.form-control{ type: 'search', placeholder: 'Buscar', name: 'q'}
        .input-group-prepend
          %i.icofont-search.input-group-text
%section.products
  %h1.title Productos
  .row.row-no-margin
    // DESKTOP
    .col-lg-9.products-desktop
      .row.row-no-margin
        - @products_six.each do |product|
          .col-lg-4.col-md-6.col-xs-12
            = render 'keppler_frontend/app/frontend/partials/product_card_with_script_desktop', product: product
    .col-lg-3.products-desktop
      = publicity('steal_page', KepplerPublicity::Ad.publicity('home-1', 'steal-page'))
      = publicity('steal_page', KepplerPublicity::Ad.publicity('home-2', 'steal-page'))        
    // TABLET
    .col-md-9.products-tablet
      .row.row-no-margin
        - @products_four.each do |product|
          .col-md-6
            = render 'keppler_frontend/app/frontend/partials/product_card_with_script_tablet', product: product
    .col-md-3.products-tablet
      = publicity('steal_page', KepplerPublicity::Ad.publicity('home-1', 'steal-page'))
      = publicity('steal_page', KepplerPublicity::Ad.publicity('home-2', 'steal-page'))
    // MOBILE
    .col-md-12.products-mobile
      = publicity('steal_page', KepplerPublicity::Ad.publicity('home-1', 'steal-page'))
    .col-md-12.products-mobile
      .row.row-no-margin
        - @products_four.first(2).each do |product|
          .col-md-12
            = render 'keppler_frontend/app/frontend/partials/product_card_with_script_mobile', product: product
    .col-md-3.products-mobile
      = publicity('steal_page', KepplerPublicity::Ad.publicity('home-2', 'steal-page'))
    .col-md-12.products-mobile
      .row.row-no-margin
        - @products_four.last(2).each do |product|
          .col-md-12
            = render 'keppler_frontend/app/frontend/partials/product_card_with_script_mobile', product: product
%section.half_banners
  .row.row-no-margin
    .col-lg-6
      = publicity('half_banner', KepplerPublicity::Ad.publicity('home-1', 'half-banner'))
    .col-lg-6
      = publicity('half_banner', KepplerPublicity::Ad.publicity('home-2', 'half-banner'))
- unless @categories_featureds.blank?
  %section.categories
    .row.row-no-margin
      .col-lg-3
        .categories-text
          %h1.title Categorías destacadas
          %span Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus incidunt temporibus, at consequuntur expedita et quaerat.
          - unless @categories_featureds.size < 3
            .carousel-buttons
              %button.btn.left
                %i.icofont-arrow-left
              %button.btn.right
                %i.icofont-arrow-right
      .col-lg-9
        .row.categories-carousel
          - @categories_featureds.each do |category|
            .category-card
              = image_tag category.image.url
              = link_to app_category_path(category.id), class: 'category-content' do
                %h4= category.name
                %span.btn-more
                  Ver más
                  %i.icofont-arrow-right
%section.full_banner_ad
  .row.row-no-margin
    .col-lg-12
      = publicity('banner', KepplerPublicity::Ad.publicity('home-1', 'banner'))
:javascript
  $('.icofont-search').click(function(){
    if ($('#search-input').val().length > 0){
      $('#new_product').submit()
    }
  })
