%section.home
  .home-slider
    - @banners.each do |banner|
      .banner-slider
        .banners-box
          = image_tag banner.image.url, class: 'banner-item'
          .banner-mask
            %h1= banner.title
            %a.btn-more{ href: '' }
              Ver más
              %i.icofont-arrow-right
        .search-cta
          %h1= banner.search_text
  .search-input
    %form.form-inline
      .input-group
        %input.form-control{ type: 'search', placeholder: 'Buscar' }
        .input-group-prepend
          %i.icofont-search.input-group-text
%section.products
  %h1.title Productos
  .row
    .col-lg-9
      .row
        - @products.each do |product|
          .col-lg-4
            .product-card
              %a{ href: app_product_path(product.id) }
                .product-image{ style: "background-image: url('#{product.images.sample.url}')" }
                  - if product.offer
                    %span.badge.badge-offer Oferta
                  - else
                    %span.badge.badge-new Nuevo
              .product-content
                %a{ href: '' }
                  %small= product&.category&.name || ''
                %a{ href: '' }
                  %h4= product.name
                  .product-price
                    %span= product.price
                  .counter
                    %ul
                      %li
                        %span#days
                        Dias
                      %li
                        %span#hours
                        Horas
                      %li
                        %span#minutes
                        Minutos
              %a.product-footer{ href: '#' }
                .btn-more
                  Solicitar
                  %i.icofont-arrow-right
    .col-lg-3
      - 2.times do
        .ad_full{ style: 'background-image: url("https://cdn-images-1.medium.com/max/1600/1*ibN0ptxrg6LkZ5DZbKv2YA.png")' }
%section.half_banners
  .row
    - 2.times do
      .col-lg-6
        .ad_half{ style: 'background-image: url("https://juzarraga.files.wordpress.com/2012/01/mcd_mcbites.jpg")' }
%section.categories
  .row
    .col-lg-3
      .categories-text
        %h1 Categorias destacadas
        %span Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus incidunt temporibus, at consequuntur expedita et quaerat.
        .carousel-buttons
          %button.btn.left
            %i.icofont-arrow-left
          %button.btn.right
            %i.icofont-arrow-right
    .col-lg-9
      .row.categories-carousel
        - @categories_featureds.each do |category|
          .category-card
            = image_tag category.image.url
            %a.category-content{ href: '#' }
              %h4= category.name
              %span.btn-more
                Ver más
                %i.icofont-arrow-right
%section.full_banner_ad
  .row
    .col-lg-12
      .ad_banner_full{ style: 'background-image: url("https://juzarraga.files.wordpress.com/2012/01/mcd_mcbites.jpg")' }