%section.product-detail
  .container
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => app_index_path} Inicio
      %li.breadcrumb-item
        %a{:href => app_category_path(@product.category.id)}= @product&.category.name || ''
      %li.breadcrumb-item
        %a= @product.name
    .row
      .col-lg-6
        .row
          .col-lg-2
            %ul.slider-nav
              - @product.images.each do |image|
                %li
                  = image_tag image.url
          .col-lg-10
            .slider-for
              - @product.images.each do |image|
                = image_tag image.url
      .col-lg-4
        .product-right-box
          .title-box
            -if @product.offer
              .badge.badge-offer Oferta
            %h1.product-title= @product.name
            .counter-product
              %ul
                %li
                  %span#days
                  Dias
                %li
                  %span#hours
                  Horas
                %li
                  %span#minutes
                  Minutos
          .price-box
            %span= number_to_currency(@product.price)
            %a.btn.btn-product{ href: '', "data-toggle"=>"modal", "data-target"=>"#modalForm" } Solicitar
      .col-lg-2
        = publicity('steal_page', KepplerPublicity::Ad.publicity('product-1', 'steal-page'))
#modalForm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalFormLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h2
          Solicita ahora
          %br/
          = @product.name
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        - unless @poll.nil?
          = simple_form_for [:admin, :form, @poll, @result], url: app_new_cotization_path, method: :post do |f|
            .hidden
              %input{:type => "text", value: @product.id, name: 'product_id'}/
            = render 'keppler_form/app/poll/build_questions', questions: @poll.questions
            = recaptcha_tags
            .float-right
              = f.submit 'Enviar solicitud', class: 'btn btn-product'
%section.product-description
  .container
    %nav
      #nav-tab.nav.nav-tabs{role: "tablist"}
        %a#nav-description-tab.nav-item.nav-link.active{"aria-controls" => "nav-description", "aria-selected" => "true", "data-toggle" => "tab", href: "#nav-description", role: "tab"} Descripción
    #nav-tabContent.tab-content
      #nav-description.tab-pane.fade.show.active{"aria-labelledby" => "nav-description-tab", role: "tabpanel"}
        = raw @product.description
%section.product-related
  .container
    %h1.title Productos Relacionados
    .row
      - @products.each do |product|
        .col-lg-4
          .product-card
            %a{ href: '' }
              .product-image{ style: "background-image: url('#{@product.images.first.url}')" }
                - if product.offer
                  %span.badge.badge-offer Oferta
                - else
                  %span.badge.badge-new Nuevo
            .product-content
              %a{ href: app_category_path(product.category.id) }
                %small= product&.category&.name || ''
              %a{ href: app_product_path(product.id) }
                %h4= product.name
                .product-price
                  %span= number_to_currency(product.price)
                .counter
                  %ul
                    %li
                      %span{id: "days#{product.id}"}
                      Dias
                    %li
                      %span{id: "hours#{product.id}"}
                      Horas
                    %li
                      %span{id: "minutes#{product.id}"}
                      Minutos
            %a.product-footer{ href: app_product_path(product.id) }
              .btn-more
                Solicitar
                %i.icofont-arrow-right
%section
  .container
    .row
      .col-lg-12
        = publicity('banner', KepplerPublicity::Ad.publicity('product-1', 'banner'))
:scss
  .hidden{
    display: none;
  }
- if flash[:notice].eql?("Mensaje enviado")
  :javascript
    Swal.fire({
      type: 'success',
      title: 'Solicitud enviada con exito'
    })
- if flash[:recaptcha_error].eql?("Oh! It's error with reCAPTCHA!")
  :javascript
    Swal.fire({
      type: 'error',
      title: '¡Lo siento!',
      text: 'Hubo un error en el reCAPTCHA, tu mensaje no ha sido enviado.'
    })
:javascript
   $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.slider-nav'
  });
  $('.slider-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: false,
    focusOnSelect: true,
    vertical: true
  });
  var expiration = "#{@product.expiration_parsed}"
    var second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    var countDown = new Date(expiration + " 00:00:00").getTime(),
        now = new Date().getTime(),
        distance = countDown - now;
      
    $('#days').html(Math.floor(distance / (day)))
    $('#hours').html(Math.floor((distance % (day)) / (hour)))
    $('#minutes').html(Math.floor((distance % (hour)) / (minute)))
- @products.each do |product|
  :javascript
    var expiration = "#{product.expiration_parsed}"
    var id = "#{product.id}"
    var second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    var countDown = new Date(expiration + " 00:00:00").getTime(),
        now = new Date().getTime(),
        distance = countDown - now;
      
    $('#days'+id).html(Math.floor(distance / (day)))
    $('#hours'+id).html(Math.floor((distance % (day)) / (hour)))
    $('#minutes'+id).html(Math.floor((distance % (hour)) / (minute)))
