%section.banner-category
  .banner-category-box
    .banner-category-inner
      .banner-category-mask
        - if @products_total.blank?
          %h1 No se han encontrado resultados para: "#{@q}"
        - else
          %h1 Se muestran resultados de: "#{@q}"
  .search-input
    = simple_form_for @product, url: app_search_path, method: :get, class: 'form-inline' do
      .input-group
        %input#search-input.form-control{ type: 'search', placeholder: 'Buscar', name: 'q'}
        %button.input-group-prepend{ type: 'submit'}
          %i.icofont-search.input-group-text
%section.categories
  = publicity('banner', KepplerPublicity::Ad.publicity('category-1', 'banner'))
  .row
    - @products.first(6).each do |product|
      = render 'keppler_frontend/app/frontend/partials/product_card', product: product
  = publicity('banner', KepplerPublicity::Ad.publicity('category-2', 'banner'))
  - if @products.size > 6
    .row
      - @products.last(@count - 6).each do |product|
        = render 'keppler_frontend/app/frontend/partials/product_card', product: product
  = publicity('banner', KepplerPublicity::Ad.publicity('category-3', 'banner'))
  %center
    %nav{"aria-label" => "Page navigation example"}
      %ul.pagination
        = paginate @products_total
:javascript
  $('.icofont-search').click(function(){
    if ($('#search-input').val().length > 0){
      $('#new_product').submit()
    }
  })
  $('#search-input').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (($(this).val().length > 0) && (keycode == '13')){
      $('#new_product').submit()
    }
  })
